/* General App Styles */
body {
    background-color: white;
    color: red;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.app-bar {
    display: flex;
    background: linear-gradient(45deg, #ff8c00, #ff6347);
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.streak-info, .date-info {
    display: inline-block;
    font-size: 1rem;
}

.logout-button {
    display: inline-block;
}

.logout-link {
    color: white; /* fallback color */
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    background-image: linear-gradient(45deg, #ff8c00, #ff6347);
    border-radius: 8px;
}

/*.logout-link:hover {
    background-color: white;
    color: transparent; 
    background-image: linear-gradient(45deg, #ff8c00, #ff6347);
}*/

.wheel-container {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid red;
    position: relative;
    overflow: hidden;
}

#wheel {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        red 0deg 32.73deg,
        orange 32.73deg 65.45deg,
        yellow 65.45deg 98.18deg,
        green 98.18deg 130.91deg,
        blue 130.91deg 163.64deg,
        indigo 163.64deg 196.36deg,
        violet 196.36deg 229.09deg,
        red 229.09deg 261.82deg,
        orange 261.82deg 294.55deg,
        yellow 294.55deg 327.27deg,
        green 327.27deg 360deg
    );
    transform: rotate(0deg);
    transition: transform 4s cubic-bezier(0.42, 0, 0.58, 1);
}

button {
    background-image: linear-gradient(45deg, #ff8c00, #ff6347);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
}

button:focus {
    outline: none;
}

.sidebar {
    background-color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    top: 80px;
    width: 200px;
    border-left: 2px solid linear-gradient(45deg, #ff8c00, #ff6347);
}

.sidebar img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    color: transparent; /* Fallback for text color */
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    background-image: linear-gradient(45deg, #ff8c00, #ff6347);
    -webkit-background-clip: text; /* Apply gradient to text */
    background-clip: text; /* Standard property */
}

.sidebar a:hover {
    text-decoration: underline;
}

.main-content {
    margin-right: 220px;
    color:#ff8c00;
}

